# =========================
# ENV FILES
# =========================

.env
**/.env

# Optional env variants
.env.*
**/.env.*

# Keep example env files
!.env.example
!**/.env.example


# =========================
# PYTHON
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd


# =========================
# VIRTUAL ENV
# =========================

venv/
.venv/


# =========================
# IDES
# =========================

.vscode/
.idea/


# =========================
# OS FILES
# =========================

.DS_Store


# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/